h1#article-title {
  font-size: 2.5em !important;
  margin-bottom: 3%;
  margin-top: 0;
}

.tags {
  float:left;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  ul {
    margin: 0;
    padding: 0;
  }
}

ul li.tag {
  display: block;
  float: left;
  background: $highlight;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: $color-trans-ease;
  &:hover {
    background: $primary;
  }
  a {
    color: white;
    padding: 5px 10px 5px 10px;
    &:hover {
      border: none;
      font-weight: 300;
    }
  }
}

hr {
  width: 95%;
}

.blog-post {
  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
    font-weight: bold;
  }
}

article a:hover {
  color: $background;
  border-bottom: 2px solid $background;
  font-weight: 600;
}

#view_comments {
  background: $highlight;
  padding: 20px;
  color: white;
  display: block;
  width: 40%;
  text-align: center;
  margin: 30px auto;
  transition: $color-trans-ease;
  &:hover {
    border: none;
    font-weight: 300;
    background: $primary;
  }
}
