nav.main-nav {
  height: 80px;
}
nav ul li a {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: black;
  &:hover {
    border-bottom: 2px solid black;
    color: black;
  }
}

nav ul li {
  float: right;
  margin: 1em 1em;
}
