@charset "utf-8";

@import "bourbon";
@import "base/base";
@import "neat";
@import "font-awesome";

@import "colors";
@import "partials/layout";
@import "partials/home";
@import "partials/nav";
@import "partials/article";

@import url(http://fonts.googleapis.com/css?family=Oxygen:700,400,300|Raleway);
@import url(http://fonts.googleapis.com/css?family=Kameron:400,700);

body {
  margin: 0;
  background: $secondary; 
}

.text-center {
  text-align: center;
}

.page-title {
  margin-top: 0 !important;
  font-size: 2.0em;
}

a {
  color: $background;
}
