/* $nav-color: #191919; */
/* $button-blue: #2980b9; */

$color-trans-ease: background-color 0.5s ease;

$primary: #191919; //rgba(25, 25, 25, 100) // Primary/Nav
$background: #084887; //rgba(0, 79, 255, 100) // Secondary
$secondary: #dee5e5; //rgba(222, 229, 229, 100) // Background
$highlight: #902d41; //rgba(144, 45, 65, 100) // Highlight
$color5: #fefffe; //rgba(254, 255, 254, 100)
