<nav class="main-nav">
  <% link_to('/index.html') do %>
    <%= image_tag 'spencer.jpeg', class: 'round-image' %>
  <% end %>
  <%# <h4 class="text-center tagline"> %>
    <%# Patiently persistent.  My journey to programming mastery. %>
    <%# </h4> %>

  <ul class="nav-links">
    <li class="text-center"><%= link_to 'ABOUT', '/about.html' %></li>
    <li class="text-center"><%= link_to 'BLOG', '/index.html' %></li>
    <li class="text-center"><%= link_to 'BOOKS', '/book_list.html' %></li>
  </ul>

  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="//spencerdixon.us11.list-manage.com/subscribe/post?u=019dc2164dbdc16d844cf6dc2&amp;id=666e212a4d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

        <div class="mc-field-group">
          <label for="mce-EMAIL" style="display: none;">Email Address </label>
          <input type="email" placeholder="Subscribe here" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_019dc2164dbdc16d844cf6dc2_666e212a4d" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="display: none;" class="button"></div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->

  <section class="social-media">
    <ul>
      <li class="social-icon">
        <% link_to('https://github.com/spencercdixon', target: "_blank") do %>
          <i class="fa fa-github-square fa-2x"></i>
        <% end %>
      </li>
      <li class="social-icon">
        <% link_to('https://twitter.com/SpencerCDixon', target: "_blank") do %>
          <i class="fa fa-twitter-square fa-2x"></i>
        <% end %>
      </li>
      <li class="social-icon">
        <% link_to('https://www.linkedin.com/in/spencercdixon', target: "_blank") do %>
          <i class="fa fa-linkedin-square fa-2x"></i>
        <% end %>
      </li>
    </ul>
  </section>
</nav>

<footer>
  Handcrafted Bytes<br />
  Made With <i class="fa fa-diamond"></i> <br />
  By Spencer Dixon
</footer>

