<nav class="main-nav">
  <ul>
    <li><%= link_to 'BOOKS', '/book_list.html' %></li>
    <li><%= link_to 'ABOUT', '/about.html' %></li>
    <li><%= link_to 'HOME', '/index.html' %></li>
  </ul>
</nav>

