<h1 class="page-title">About</h1>

<p>Hi!  My name is Spencer.  I work as a web developer at <%= link_to 'Smart Scheduling', 'http://www.smartscheduling.io/' %>.</p>

<p>If you want to get in contact, drop me an email at: <code>spencercdixon@gmail.com</code></p>


